body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Light theme (default) */
body.light {
  background-color: #fff;
  color: #000;
}

/* Dark theme */
body.dark {
  background-color: #121212;
  color: #fff;
}

.crypto-card {
  background-color: inherit;
  border: 1px solid #ccc;
}


header {
    text-align: center;
    padding: 20px;
    background-color: #282c34;
    background-image: url(images/cover.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

header h1, header p{
background-color: #000;
color: white;
width: fit-content;
border-radius: 10px;
padding: 2px 10px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

#cryptocurrencies, #comparison-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.crypto-card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
}

button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .crypto-card {
        width: 100%;
    }
}




.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}